@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Space+Grotesk&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');


@theme {
  --color-primary: #e8798b;
  --color-PurpleColor: #703bf7;
  --color-YellowColor: #ffc107;
  --color-textColor: #f1f1f1;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-cormorant-upright {
  font-family: "Cormorant Upright", serif;
  font-weight: 300;
}
