@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";


@font-face {
  font-family: 'Right Grotesk';
  src: local('RightGrotesk'), url('/Fonts/RightGrotesk/RightGrotesk-CompactBlack.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('/Fonts/Aktive/fonnts.com-Aktiv_Grotesk_Deva_Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: 'Aktiv Grotesk', sans-serif !important;
    font-weight: 500;
}





@theme {
  --color-primary: #e8798b;
  --color-PurpleColor: #703bf7;
  --color-YellowColor: #ffc107;
  --color-textColor: #f1f1f1;
  --font-cormorant-upright: "Cormorant Upright";
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-right-grotesk: "Right Grotesk";
  --font-aktiv-grotesk: "Aktiv Grotesk";
  --font-Bebas: "Bebas Neue";
  --font-Inter: "Aktiv Grotesk";

}

/* Testimonials */
.swiper-pagination {
  position: relative !important; 
  margin-top: 2rem; 
  bottom: auto !important;
}
.swiper-pagination-bullet {
  background-color: #bebebe !important;
}
.swiper-pagination-bullet-active {
  background-color: #9ca3af  !important; 
}

.swiper-button-prev:after{
  font-size: 16px !important;
  font-weight: 500;
  color: white;
  background-color: #bebebe89 !important;
  padding: 10px 15px 10px 13px;
  margin-left: 20px;
  border-radius: 100%;

}
.swiper-button-next:after{
  font-size: 16px !important;
  font-weight: 500;
  color: white;
  background-color: #bebebe89 !important;
  padding: 10px 13px 10px 15px;
  margin-right: 20px;
  border-radius: 100%;
}

@layer components {
  /* Base Animation Styles */
  .hover-btn {
    @apply relative cursor-pointer overflow-hidden px-5 py-2 rounded-md font-medium transition-colors duration-300 ease-in-out border;
  }

  .hover-btn::before {
    content: "";
    @apply absolute left-0 bottom-0 w-full;
    height: 0%;
    border-radius: 50% 50% 0 0;
    transition: height 0.8s;
    z-index: 0;
  }

  .hover-btn span {
    @apply relative z-10 transition-colors duration-300;
  }

  .hover-btn:hover::before {
    height: 180%;
  }

  .hover-btn:hover span {
    @apply text-white;
  }

  /* Theme: Black */
  .hover-btn-black {
    @apply  text-black bg-[#1E1E1E];
  }

  .hover-btn-black::before {
    @apply text-black bg-[#ffb6c1] border-[#ffb6c1];
  }
  .hover-btn-black:hover {
    @apply text-black border-[#ffb6c1];
  }

  /* Theme: White */
  .hover-btn-white {
    @apply text-white bg-black border-black border-[1.5px];
  }

  .hover-btn-white::before {
    background-color: #e8798b;
    color: #000;
  }

  .hover-btn-white:hover {
    @apply border-[#e8798b];
  }

  /* Theme: Purple */
  .hover-btn-purple {
    @apply text-white bg-[#703BF7] border-[#703BF7];
  }
  .hover-btn-purple::before {
    background-color: #1e1e1e;
  }
  .hover-btn-purple:hover {
    @apply border-[#1E1E1E];
  }
  /* Theme: Yellow */
  .hover-btn-yellow {
    @apply text-white bg-YellowColor border-YellowColor;
  }
  .hover-btn-yellow::before {
    background-color: #1e1e1e;
  }
  .hover-btn-yellow:hover {
    @apply border-[#1E1E1E];
  }
  /* Theme: Yellow */
  .hover-btn-green {
    @apply text-[#008316] bg-transparent border-[#008316];
  }
  .hover-btn-green::before {
    @apply bg-[#008316] border-[#008316] text-white;
  }
  .hover-btn-green:hover {
    @apply border-[#008316];
  }

  /* Hide scrollbar but allow scrolling */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


/* BUTTON HOVER ANIMATION */
#HoverButton {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #fff;
}
#HoverButton::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  color: #000;
}
#HoverButton:hover::before {
  height: 180%;
  color: #000;
}
#HoverButton span {
  transition: color 0.8s linear;
}
#HoverButton:hover span {
  color: #000 !important;
}
#HoverButton:hover {
  border: 1px solid #703bf7;
}
