@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Right Grotesk';
  src: local('RightGrotesk'), url('/Fonts/RightGrotesk/RightGrotesk-CompactBlack.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: local('AktivGrotesk'), url('Fonts/AktivGrotesk/AktivGrotesk-Medium.woff2') format('woff2'), url('Fonts/AktivGrotesk/AktivGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@theme {
  --color-primary: #e8798b;
  --color-PurpleColor: #703bf7;
  --color-YellowColor: #ffc107;
  --color-textColor: #f1f1f1;
  --font-cormorant-upright: "Cormorant Upright";
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-right-grotesk: "Right Grotesk";
  --font-aktiv-grotesk: "Aktiv Grotesk";
  --font-Inter: "Inter";

}

/* Testimonials */
.swiper-pagination {
  position: relative !important; 
  margin-top: 2rem; 
  bottom: auto !important;
}
.swiper-pagination-bullet {
  background-color: #bebebe !important;
}
.swiper-pagination-bullet-active {
  background-color: #9ca3af  !important; 
}